body{
	margin: 0px;

}
#body-header{
	background-image: url("pro.jpg");
	height: 65vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.horizontal-list{
	list-style: none;
	padding-left:0px ;
	font-family: sans-serif;
	margin: 0px;

}
.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	
}
.nav-menu li a{
	transition:color 0.5s ;
	border-bottom: 4s;
}
.nav-menu li a:hover{
	color: lightgrey;
	border-bottom: 2px solid lightgrey;
}
.text-center{
	text-align: center;

}
#name-social-container{
	margin-top: 20vh;
}
#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
	font-family: serif;
}
.social-icons li a i{
    padding: 10px;
    font-family: 1rem;
    border-radius: 50%;
}
.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px lightgrey;

}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}
#about{
	height: auto;
	width: 100%;
	position: relative;
}
strong{
	color: #090945;
	
}
b{
	color:#070743;
}
p{
	font-size: 17px;
}
section{
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	
}

section:nth-child(2n){
	background-color:lightgrey;
	align-items: center;
}

section:nth-child(2n+1){
	background-color:white;

}
.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin-top: 10px;
	margin-left: 35rem;
}
.section-heading span{
	font-size: 40px;
	color: #042459 ;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

#kcontainer{
	align-items: baseline;
}


.skills-display{
	width: 70%;
/*	height: 100px;*/
/*	border-bottom: 75px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.mb75px{
	margin-bottom: 75px;
}

.skill-progress{
	width: 7rem;
	height: 1.4rem;
	background-color: lightgrey;
	border-radius: 0.8rem;

}

.eighty-five-percent{
	width: 85%;
	height: inherit;
}

.mb-blue{
	background-color: #042459 ;
}

.skill-name span{
	color: white;
	font-size: 1rem;
	margin-left: 5px;

}

.skill-progress>div{
	border-radius: 20px 0px 0px 20px;

}
.htmlskill-display{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;

}
.htmlskill-progress{
	background-color: lightgrey;
	width: 7rem;
	height: 1.4rem;
	border-radius: 0.8rem;
}
.mb-orange{
	background-color: #d6330a;
}
.eighty-percent{
	width: 80%;
	height: inherit;
}
.htmlskill-name span{
	color: white;
	font-size: 1rem;
	margin-left: 10px;
}
.htmlskill-progress>div{
	border-radius: 20px 0px 0px 20px;
}
.cskill-display{
	width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
	
	
}

.cskill-progress{
	background-color: lightgrey;
	width: 7rem;
	height: 1.4rem;
	border-radius: 0.8rem;
}

.mb-green{
	background-color: darkgreen;
}

.seventy-five-percent{
	width: 75%;
	height: inherit;
}

.cskill-name span{
	color: white;
	font-size: 1rem;
	margin-left:10px ;

}

.cskill-progress>div{
	border-radius: 20px 0px 0px 20px;
} 

.cssskill-display{
	width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	align-items: baseline;
	
}

.cssskill-progress{
	background-color: lightgrey;
	width: 7rem;
	height: 1.4rem;
	border-radius: 0.8rem;
}

.mb-black{
	background-color: black;
}

.seventy-five-percentage{
	width: 75%;
	height: inherit;
}

.cssskill-name span{
	color: white;
	font-size: 1rem;
	margin-left:10px ;

}

.cssskill-progress>div{
	border-radius: 20px 0px 0px 20px;
} 

.cppskill-display{
	width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: baseline;
	
}

.cppskill-progress{
	background-color: lightgrey;
	width: 7rem;
	height: 1.4rem;
	border-radius: 0.8rem;
}

.mb-dark{
	background-color:#b06b06;
}

.sixty-percentage{
	width: 60%;
	height: inherit;
}

.cppskill-name span{
	color: white;
	font-size: 1rem;
	margin-left:10px ;

}

.cppskill-progress>div{
	border-radius: 20px 0px 0px 20px;
} 

.jsskill-display{
	width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
	align-items: baseline;
	
}

.jsskill-progress{
	background-color: lightgrey;
	width: 7rem;
	height: 1.4rem;
	border-radius: 0.8rem;
}

.mb-red{
	background-color:#ca0e0e;
}

.sixty-five-percentage{
	width: 65%;
	height: inherit;
}

.jsskill-name span{
	color: white;
	font-size: 1rem;
	margin-left:10px ;

}

.jsskill-progress>div{
	border-radius: 20px 0px 0px 20px;
} 

.ndjsskill-display{
	width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	align-items: baseline;
	
}

.ndjsskill-progress{
	background-color: lightgrey;
	width: 7rem;
	height: 1.4rem;
	border-radius: 0.8rem;
}

.mb-nb{
	background-color:#091278;
}

.fifty-percentage{
	width: 85%;
	height: inherit;
}

.ndjsskill-name span{
	color: white;
	font-size: 1rem;
	margin-left:10px ;

}

.ndjsskill-progress>div{
	border-radius: 20px 0px 0px 20px;
} 

.mbskill-display{
	width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: baseline;
	
}

.mbskill-progress{
	background-color: lightgrey;
	width: 7rem;
	height: 1.4rem;
	border-radius: 0.8rem;
}

.mb-mb{
	background-color:darkgreen;
}

.fifty-five-percentage{
	width: 55%;
	height: inherit;
}

.mbskill-name span{
	color: white;
	font-size: 1rem;
	margin-left:10px ;

}

.mbskill-progress>div{
	border-radius: 20px 0px 0px 20px;
} 
#my-projects{
	justify-content: space-around;
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.gradient-effect{
	height:500px ;
	width:1430px ;
	margin: 20px;
	border:2px solid white;
	background-image: linear-gradient(grey,black);
}
.my-button{
	margin-top: 15px;
	padding: 4px;
	font-size: 1.2rem;
	color: white;
	background-color: black;
}

.section-ex-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin-top: 10px;
	margin-left: 0.5rem;
}
.section-ex-heading span{
	font-size: 40px;
	color: #042459 ;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
.section-edu-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin-top: 10px;
	margin-left: 35rem;
}
.section-edu-heading span{
	font-size: 40px;
	color: #042459 ;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
.section-port-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin-top: 10px;
	margin-left: 0.5rem;
}
.section-port-heading span{
	font-size: 40px;
	color: #042459 ;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
.section-con-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin-top: 10px;
	margin-left: 35rem;
}
.section-con-heading span{
	font-size: 40px;
	color: #042459 ;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
#my-para-color{
	color: white;
}
#my-head{
	color:lightgrey ;
}
.kushalname{
	color: lightgrey;
}
.kushalcontact{
	color: lightgrey;
}
.kushalemail{
	color: lightgrey;
}
.timeline{
	position:relative ;
	width: 75%;
	border: 2px solid black;
}
.timeline-box{
	position: relative;
	width: 40%;
	left:5% ;
	min-height: 0.2px;
	border: 2px solid black;
	margin: 5px;
}
.timeline-box:nth-child(2n){
	left: 53%;
}
#my-list::before{
	content: '';
	background-image: url(image.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#my-list1::before{
	content: '';
	background-image: url(image.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#my-list2::before{
	content: '';
	background-image: url(image.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#my-list3::before{
	content: '';
	background-image: url(image.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#ex::after{
	content: '';
	background-image: url(image.png);
	display: inline-block;
	height: 20px;
	width: 20px;
background-size: contain;
}
.timerline{
	position:relative ;
	width: 95%;
	border: 2px solid black;
}
.timerline-box{
	position: relative;
	width: 40%;
	left:5% ;
	min-height: 0.2px;
	border: 2px solid black;
	margin: 5px;
}
.timerline-box:nth-child(2n){
	left: 53%;
}
#my-list10::before{
	content: '';
	background-image: url(code.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#my-list11::before{
	content: '';
	background-image: url(code.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#my-list12::before{
	content: '';
	background-image: url(code.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#my-list13::before{
	content: '';
	background-image: url(code.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: contain;
}
#edu::after{
	content: '';
	background-image: url(code.png);
	display: inline-block;
	height: 20px;
	width: 20px;
background-size: contain;
}

.timeline-divider{
	position: absolute;
	height: 550%;
	width:0 ;
	border: 3px dashed #0096fa6b;
	bottom: 75%;
	left: 108%;
}

.timerline-divider{
	position: absolute;
	height: 550%;
	width:0 ;
	border: 3px dashed #0096fa6b;
	bottom: 25%;
	left: 108%;
}
.timerline-traveller{
	position: sticky;
	top: 25%;
	transform: rotate(90deg);
}
.timeline-traveller{
	position: sticky;
	top: 25%;
	transform: rotate(90deg);
}

.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 30%;
	right: -10%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}

.timeline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 30%;
	left: -12%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}

.timerline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 30%;
	right: -9%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}

.timerline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 30%;
	left: -12%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}
